DATABASE_URL="postgresql://user:password@localhost:5432/tallerhub"
PORT=3000

JWT_ACCESS_SECRET="change_me_access"
JWT_REFRESH_SECRET="change_me_refresh"
JWT_ACCESS_EXPIRES="15m"
JWT_REFRESH_EXPIRES="7d"
